/* Write your additional styles here! */

/* Step 2 - Page Layout */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* Step 5A & 5B */
.instruction {
  font-size: 12px;
  text-transform: none;
  font-style: italic;
  text-align: center;
  color: #5dc48b;
}
